doctype html
html
  head
    title= 'Olympic Ice Hockey winners'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') Home
    br
    a(href='/hockey') Olympic Ice Hockey winners
    br
    a(href='/finland') Finland's rankings

    block content
